<ion-header>
  <ion-toolbar>
    <ion-title>
      Game da Cana!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <img src="/assets/images/01.jpg" alt="" />
    <ion-card-header>
      <ion-card-title>Só os Yodas bebem</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Se você for um Yoda, beba.</p>
    </ion-card-content>
  </ion-card>   
  <div text-center>
    <ion-button color="success" >Sacar</ion-button>       
  </div>
   
</ion-content>